* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: middle;

}

main {
    background-color: rgb(246, 248, 249);
}


.conteiner {
    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 2rem 5rem 1rem;
    border-radius: 6px;
}
/* allinemaneto punlsanti superiori */
.sect-align {
    padding: 0.5rem 1rem 1rem;
    border-bottom: 1px solid lightgray;
}

.section-align {
    padding: 1.5rem 1rem 1rem;
}

.row-align {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
}

/* badge superiori */
#badg-head {
    color: white;
    background-color: rgb(97, 172, 235);
    border-radius: 3px ;
    padding: 5px;
    border: 1px solid rgb(97, 172, 235);
    border-radius: 3px;
    
}

#badg-head2 {
    color: lightgray;
    padding: 5px;
    border: 1px solid black ;
    border-radius: 3px;
}