* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial;
}

main {
    background-color: rgb(246, 248, 249);
    font-weight: bold;
}

.header-mod {
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
}

.conteiner {
    width: 1200px;
    margin: auto;
    background-color: white;
    padding: 2rem 5rem 1rem;
    border-radius: 6px;
    
}

/* allinemaneto punlsanti superiori */
.sect-align {
    padding: 0.5rem 1rem 1rem;
    border-bottom: 1px solid lightgray;
}

/* allineamento sezioni */
.section-align {
    padding: 1.5rem 1rem 1rem;
}

/* allineamento righe  */
.row-align {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    font-weight: bold;
}

.bedge {
    color: white;
    vertical-align: middle;
    font-size: 10px;
    background-color: rgb(96, 170, 228);
    padding: 6px;
    border-radius: 15px;
}

/* badge superiori */
#badg-head {
    color: white;
    background-color: rgb(97, 172, 235);
    border-radius: 3px ;
    padding: 5px;
    border: 1px solid rgb(97, 172, 235);
    border-radius: 3px;
    
}

#badg-head2 {
    color: lightgray;
    padding: 5px;
    border: 1px solid black ;
    border-radius: 3px;
}
